.frame{
  color: white;
  display: flex;
  >.sidebar{
    width: 200px;
    min-height: 100vh;
    background: #191817;
  }
  >.content{
    box-sizing: border-box;
    padding:15px;
    position: relative;
    min-height: 100vh;
    background: url('../../assets/img/sky-bg.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;
  }
}
#processBar{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 1000px){
  .frame{
    font-size: 10px;
  }
}
