.frame{
  color: white;
  display: flex;
  min-height: 100vh;
  >.sidebar{
    position: fixed;
    left: 0;
    top:55px;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0,0,0,.8);

    width: 200px;
    overflow: hidden;
    transition: all ease .5s;
  }
  >.topbar{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
  }
  >.content{
    box-sizing: content-box;
    padding:75px 15px 0 215px;
    position: relative;
    background: url('../../assets/img/sky-bg.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
    transition: all ease .5s;
  }
}
#processBar{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 1000;
}
@media screen and (max-width: 1000px){
  .frame{
    font-size: 10px;
  }
}
