ul{
  width: 400px;
  margin-top: 20px;
  li{
    height: 30px;
    overflow: hidden;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
    span{
      line-height: 30px;
      &.text{
        display: inline-block;
        height: 100%;
      }
    }
  }
}
.part1{
  display: flex;
  align-items: center;
  h4{
    margin-bottom: 0;
    margin-left: 15px;
  }
}
