.loading-container{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.7);
  >.ball-content{
    .ball{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: white;
      display: inline-block;
      margin-right: 10px;
      &:first-of-type{
        animation: balls .7s ease infinite alternate;
        animation-delay: -.7s;
      }
      &:nth-of-type(2){
        animation: balls .7s ease infinite alternate;
        animation-delay: -.5s;
      }
      &:nth-of-type(3){
        animation: balls .7s ease infinite alternate;
        animation-delay: -.3s;
      }
    }
  }
}
@keyframes balls {
  0%{transform: scale(.3)}
  100%{transform: scale(1.2)}
}
