<div class="card">
<app-common-head [List]="headList" [selectedIds]="selectedIds"
                 [togglebottom]="togglebottom" (selected)="getSelectedId($event)"></app-common-head>
</div>

<h4>{{DatePipe|date:'y-MM-dd HH:mm:ss a'}}</h4>
<h4>{{CurrencyPipe|currency:'CNY':true}}</h4>
<h4>{{decimalPipe|number:'4.0-2'}}</h4>
<h4>{{slicePipe|slice:-3}}</h4>
<h4>{{titlePipe|titlecase}}</h4>

<div class="card card-block">
  <div class="item-wrap">
    <div class="item" *ngFor="let item of itemData">
      <div class="img-wrap"><img src="http://placehold.it/350x350" alt="" (click)="imgPreview()"></div>
      <p class="title" #el  (mouseenter)="toggleHover(el,1)" (mouseleave)="toggleHover(el,0)">
        <a href="#">
          Fruit of the Loom Men's Super Premium Short Sleeve T-ShirtFruit of the Loom Men's Super Premium Short Sleeve T-Shirt
          Fruit of the Loom Men's Super Premium Short Sleeve T-ShirtFruit of the Loom Men's Super Premium Short Sleeve T-Shirt</a>
        <span class="hover-box" style="display: none;">
            <span>
              Fruit of the Loom Men's Super Premium Short Sleeve T-ShirtFruit of the Loom Men's Super Premium Short Sleeve T-Shirt
            Fruit of the Loom Men's Super Premium Short Sleeve T-ShirtFruit of the Loom Men's Super Premium Short Sleeve T-Shirt</span>
          </span>
      </p>
      <div class="ratyBox"></div>
      <div class="myTable">
        <span class="t-title">评论数：</span>
        <span>2000</span>
        <span class="t-title">问答数：</span>
        <span>1500</span>
      </div>
      <div class="myTable" style="margin-bottom: 15px;">
        <span class="t-title">价格：</span>
        <span>99</span>
        <span class="t-title">运费：</span>
        <span>10</span>
      </div>
      <div class="info">
        <p>Asin：SDFSDFSDFSDF</p>
        <p>站点：西班牙</p>
      </div>
      <div class="button-wrap">
        <button class="btn btn-info">查看产品详情</button>
        <button class="btn btn-success">加入ListingBox</button>
      </div>
    </div>
  </div>
</div>
