<div class="card">
<app-common-head [List]="headList" [selectedIds]="selectedIds"
                 [togglebottom]="togglebottom" (selected)="getSelectedId($event)"></app-common-head>
</div>

<h4>{{DatePipe|date:'y-MM-dd HH:mm:ss a'}}</h4>
<h4>{{CurrencyPipe|currency:'CNY':true}}</h4>
<h4>{{decimalPipe|number:'4.0-2'}}</h4>
<h4>{{slicePipe|slice:-3}}</h4>
<h4>{{titlePipe|titlecase}}</h4>
<app-ng-model-test [(ngModel)]="ngModelValue"></app-ng-model-test>
<p><button class="btn  btn-primary" (click)="openNgModel()">检查ngModel更新</button></p>
<div>
  <app-ck-editor [(ngModel)]="ckeditorValue"></app-ck-editor>
</div>
<div>
  <app-animation></app-animation>
</div>
<div>
  <app-sideBar [MenuItem]=""></app-sideBar>
</div>
