.select-part-wrap{
    display: flex;
    flex-wrap: wrap;
    app-level-part{
      width: calc(33.3333% - 30px);
      margin: 0 15px 15px 15px;
      border: 1px solid rgba(0,0,0,.3);
      border-radius: 5px;
  }
}
.input-group{
  padding:0 15px;
  margin-bottom: 10px;
  .input-group-addon{
    width: 30px;
    line-height: 38px;
    text-align: center;
    border: 1px solid rgba(0,0,0,.1);
    border-left: none;
    i{
      font-size: 16px;
    }
  }
}
p{
  margin-bottom: 10px;
}
.input-group /deep/ ngb-typeahead-window{
  min-width: 600px;
}

