ul.select-wrap{
  margin-bottom: 0;
  max-height: 400px;
  box-sizing: border-box;
  overflow-y: auto;
  li{
    font-size: 14px;
    cursor: pointer;
    line-height: 27px;
    padding-left: 10px;
    &.active{
      background: #209e91;
      font-weight: bold;
      color: white;
    }
    i{
      line-height: 27px;
      margin-right: 5px;
    }
  }
}
