body{
  background: #ECF0F1;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width: 100px;
    height: 100px;
    z-index: 1001;
}

.loader span {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
}

.loader :first-child {
    background: #19A68C;
    animation-delay: -1.5s
}

.loader :nth-child(2) {
    background: #F63D3A;
    animation-delay: -1s
}

.loader :nth-child(3) {
    background: #FDA543;
    animation-delay: -0.5s
}

.loader :last-child {
    background: #193B48
}

@keyframes spin {
    0%, 100% {
        transform: translate(0)
    }
    25% {
        transform: translate(160%)
    }
    50% {
        transform: translate(160%, 160%)
    }
    75% {
        transform: translate(0, 160%)
    }
}


/*两边遮罩*/
#preloader .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #ECF0F1;
    z-index: 1000;
    transform: translateX(0);
}

#preloader .loader-section.section-left {
    left: 0;
}

#preloader .loader-section.section-right {
    right: 0;
}

#preloader.loaded .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#preloader.loaded .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded .loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}
