<div class="table2">
  <cuppa-datagrid
    [config]="config"
  >
    <c-heading>
      <ng-template>
        <select class="form-control" value="{{PageInfo.pageSize}}" #st (change)="pageSizeChage(st.value)">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="1000">1000</option>
        </select>
        <span class="addon">条/页</span>
        <span class="addon addon-r">共{{PageInfo.totalCount}}条数据</span>
        <ngb-pagination [collectionSize]="PageInfo.totalCount" [pageSize]="PageInfo.pageSize" [size]="'sm'" [page]="1" [maxSize]="5" (pageChange)="getpageChanged($event)"></ngb-pagination>
      </ng-template>
    </c-heading>
    <c-column field="编号">
      <ng-template let-item="rowData">
        <div class="wrap">
          <span>{{item["编号"].id}}</span>
        </div>
      </ng-template>
    </c-column>
    <c-column field="产品信息">
      <ng-template let-item="rowData">
        <div class="wrap">
          <div class="sku-info">
            <a href="http://placehode.it/200*200"  class="img" target="_blank" title="点击查看大图">
              <img src="{{item['编号'].skuImg}}" alt="该SKU无图片信息">
            </a>
            <span *ngIf="item['编号'].skuUrls.length>0"><a style="text-decoration: underline!important;font-size: 12px;" (click)="openUrl(item['编号'].skuUrls[0].url)">{{item["编号"].skuName}}</a></span>
            <span *ngIf="item['编号'].skuUrls.length==0" style="font-size: 12px;">{{item["编号"].skuName}}</span>
          </div>
          <ul class="info-wrapper">
            <li class="info-list">
              <label class="list-title">SKU：</label>
              <span><a (click)="editProdutInfoModal(item['编号'].skuId)" href="javascript:;" style="color:white;text-decoration: underline!important;" >{{item["编号"].skuCode}}</a></span>
            </li>
            <li class="info-list">
              <label class="list-title">采购人员：</label>
              <span>{{item["编号"].purchaseUser}}</span>
            </li>
            <li class="info-list">
              <label class="list-title">仓库：</label>
              <span>{{item["编号"].warehouseName}}</span>
            </li>
          </ul>
        </div>
      </ng-template>
    </c-column>
    <c-column field="供应商/采购价">
      <ng-template let-item="rowData">
        <div class="wrap">
          <ng-container *ngIf="item['编号'].skuUrls.length>0">
            <ul class="info-wrapper" *ngFor="let sku of item['编号'].skuUrls;let i = index">
              <li class="info-list">
                <label class="list-title" title="{{sku.supplier}}">{{sku.supplier}}</label>
                <a *ngIf="sku.loginId!=null" href="https://amos.alicdn.com/getcid.aw?v=3&uid={{sku.loginId}}&site=cnalichn&groupid=0&charset=UTF-8"
                   target="_blank" class="alwangwang"></a>
                <a style="color:rgb(0, 212, 89);" href="javascript:;" title="点击查看采购历史"
                   (click)="openPurchaseHistoryModal(sku.supplierId,sku.skuId)">￥{{sku.purchasePrice}}</a>
              </li>
            </ul>
          </ng-container>
          <div *ngIf="item['编号'].skuUrls.length==0">没有采购链接</div>
        </div>
      </ng-template>
    </c-column>
    <c-column field="库存">
      <ng-template let-item="rowData">
        <div class="wrap">
          <ul class="info-wrapper">
            <li class="info-list">
              <label class="list-title"  title="该数据是:备货(未付款) + 在途(已付款)">在途库存(采购中)：</label>
              <span class="yellow-text lg-text">{{ item['编号'].waitReceiveQuantity + item['编号'].purchasingQuantity}}</span>
            </li>
            <li class="info-list">
              <label class="list-title">可用库存：</label>
              <span class="yellow-text lg-text">{{item['编号'].availableInventory}}</span>
            </li>
            <li class="info-list">
              <label class="list-title" title="在途 + 可用库存 - 未配货">库存结余：</label>
              <span class="yellow-text lg-text">{{item['编号'].waitReceiveQuantity + item['编号'].purchasingQuantity +  item['库存'].availableInventory - item['库存'].possibleAllocateQuantity }}</span>
            </li>
            <li class="info-list">
              <label class="list-title">未配货预出数：</label>
              <span class="yellow-text lg-text">{{item['编号'].possibleAllocateQuantity}}</span>
            </li>
            <li class="info-list">
              <label class="list-title">当前仓库库存：</label>
              <span class="yellow-text lg-text">{{item['编号'].currentInventory}}</span>
            </li>
            <li class="info-list">
              <a style="color:rgb(0, 212, 89);" href="javascript:;" (click)="openInventoryHistoryModal(item['编号'].skuId)">库存日志</a>
            </li>
          </ul>
        </div>
      </ng-template>
    </c-column>
    <c-column field="可售天数">
      <ng-template let-item="rowData">
        <div class="wrap">
          <ul class="info-wrapper">
            <li class="info-list">
              <ng-container>
                <span>可用库存：</span>
                <strong class="red-text" *ngIf="item['编号'].avgPerDaySaleQuantity <= 0">无法计算</strong>
                <strong class="lg-text yellow-text" *ngIf="item['编号'].avgPerDaySaleQuantity > 0">{{item['可售天数'].availableStockSaleDay}}天</strong>
              </ng-container>
            </li>
            <li class="info-list">
              <ng-container>
                <span>库存结余：</span>
                <strong class="red-text" *ngIf=" item['编号'].avgPerDaySaleQuantity <=0">无法计算</strong>
                <strong class="lg-text yellow-text" *ngIf=" item['编号'].avgPerDaySaleQuantity > 0">{{item['可售天数'].surplusStockSaleDay}}天</strong>
              </ng-container>
            </li>
          </ul>
        </div>
      </ng-template>
    </c-column>
    <c-column field="仓库平均销量/价格/欠票">
      <ng-template let-item="rowData">
        <div class="wrap">
          <div class="detail-modal-body" style="display:none;">
            <div class="mark" (mouseover)="checkModal($event.target,'in',1)" (mouseout)="checkModal($event.target,'in',0)"></div>
            <div class="detail-modal-content">
              <div class="date-detail" *ngFor="let calitem of item['编号'].calculateStorges">
                <span class="sales-week">{{calitem.week}}</span>
                <label class="sales-date">{{calitem.dateShow}}</label>
                <span class="sales-detail">
                  <span class="sales-number">{{calitem.quantity}}</span>
                  <span class="platform">{{calitem.typeShow}}</span>
                </span>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <ul class="info-wrapper">
            <li class="info-list" *ngFor="let  attrItem of item['编号'].totalSkuAttr">
              <span class="btn btn-xs btn-warning">{{attrItem}}</span>
            </li>
            <li class="info-list" *ngIf="item['编号'].isFire">
              <i class="ion-heart fire"></i>
              <span *ngIf="data.isHot" class="fire">爆款</span>
            </li>
            <li class="info-list">
              <label class="list-title">平均销量：</label>
              <span class="green-text lg-text">{{item['编号'].avgPerDaySaleQuantity | number: '1.0-2'}}</span>
            </li>
            <li class="info-list">
              <label class="list-title">类型：</label>
              <span class="green-text lg-text">{{item['编号'].isNewSku?"":"非"}}新品</span>
            </li>
            <li class="info-list" *ngIf="isStockQuantity">
              <label class="list-title">欠票：</label>
              <span class="red-text lg-text">{{item['编号'].outOfStockQuantity}}</span>
            </li>
            <li class="info-list"  *ngIf="orderState == '备货单'">
              <label class="list-title">采购建议数量：</label>
              <span class="green-text lg-text">{{item['编号'].forecastInNumber}}</span>
            </li>
            <li class="info-list">
              <label class="list-title">价格：</label>
              <span class="red-text lg-text">{{item['编号'].unitPrice}}</span>
            </li>
            <li class="info-list" >
              <i class="ion-ios-search-strong check-detail-btn"></i>
              <span (mouseover)="checkModal($event.target,'out',1)" (mouseout)="checkModal($event.target,'out',0)">查看详情</span>
            </li>
          </ul>
        </div>
      </ng-template>
    </c-column>
    <c-column field="销量">
      <ng-template let-item="rowData">
        <div class="wrap">
          <ul class="info-wrapper">
            <li class="info-list">
              <label class="list-title">7天：</label>
              <span class="yellow-text lg-text">{{item['编号'].last7DaySaleQuantity}}</span>
            </li>
            <li class="info-list">
              <label class="list-title">15天：</label>
              <span class="yellow-text lg-text">{{item['编号'].last15DaySaleQuantity}}</span>
            </li>
            <li class="info-list">
              <label class="list-title">30天：</label>
              <span class="yellow-text lg-text">{{item['编号'].last30DaySaleQuantity}}</span>
            </li>
            <li class="info-list">
              <label class="list-title">90天：</label>
              <span class="yellow-text lg-text">{{item['编号'].last90DaySaleQuantity}}</span>
            </li>
          </ul>
        </div>
      </ng-template>
    </c-column>
    <c-column field="补货数量">
      <ng-template let-item="rowData">
        <div class="wrap">
          <ul class="info-wrapper" *ngIf="item['编号'].statusShow!='已生成'">
            <li class="info-list">
              <input type="search" *ngIf="item['编号'].statusShow!= '已忽略'" class="edit-num form-control with-danger-addon"
                     (keyup.enter)="Enter(item['编号'],i)" [(ngModel)]="item['编号'].actualNumberShow"  (blur)="autoSaveNumber(item['编号'],i)"  />
            </li>
            <li class="info-list">
              <button class="edit-num-btn" *ngIf="item['编号'].statusShow != '已忽略'" (click)="Enter(item['编号'],i)">确定</button>
            </li>
          </ul>
          <ul class="info-wrapper" *ngIf="item['编号'].statusShow=='已生成'||item['编号'].statusShow == '已忽略'">
            <li class="info-list">
              <span class="max-text red-text">{{item['编号'].actualNumberShow}}</span>
            </li>
          </ul>
        </div>
      </ng-template>
    </c-column>
    <c-column field="状态">
      <ng-template let-item="rowData">
        <div class="wrap">
          <ul class="info-wrapper">
            <li class="info-list" *ngIf="item['编号'].actualNumberShow">
              <span>数量：</span>
              <span class="green-text lg-text">{{item['编号'].actualNumberShow}}</span>
            </li>
            <li class="info-list">
              <span>{{item['编号'].statusShow}}</span>
            </li>
            <li class="info-list">
              <button class="btn btn-sm btn-danger" *ngIf="item['编号'].statusShow !== '已忽略' && item['补货数量'].statusShow !== '已生成'&&(checkAuthority(1))" (click)="ignore(item['编号'])">忽略</button>
              <button class="btn btn-sm btn-danger" *ngIf="item['编号'].statusShow == '已忽略' && item['编号'].statusShow !== '已生成'&&(checkAuthority(2))" (click)="activa(item['编号'])">激活</button>
            </li>
          </ul>
        </div>
      </ng-template>
    </c-column>
  </cuppa-datagrid>
</div>
