.button-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  .btn,.form-inline{
    margin:0 15px;
  }
}
.alert-wrap{
  position: fixed;
  top:70px;
  left:50%;
  transform:translateX(-50%);
}
#collapseExample{
  overflow: hidden;
}
.myslideIn{
  animation: in 0.5s ease;
}
