<app-linechart [title]="lineCharttitle" [subtitle]="lineCharsubttitle"
                [Ytitle]="lineCharYtitle" [autogrownumber]="lineCharautogrow"
               [growStartnum]="lineChargrowStart" [Ydata]="lineCharYdata"
></app-linechart>

<app-spline [title]="splineCharttitle" [Ytitle]="splineCharYtitle"
            [autogrowDate]="splineCharautogrow" [growStartdate]="splineChargrowStart"
            [Ydata]="splineCharYdata" [Yunit]="splineYunit"
></app-spline>

<app-pie [title]="pietitle" [Ydata]="pieYdata"></app-pie>

<app-columnchart [title]="columntitle" [Ytitle]="columnYtitle" [Ydata]="columnYdata"
                 [Xdata]="columnXdata"
></app-columnchart>
