cuppa-slidemenu{
  position: fixed;
  z-index: 9999;
  margin:5px 0 0 15px;
}
cuppa-slidemenu /deep/ .hamburger-inner{
  background: white;
  &::before,&::after{
    background: white;
  }
}
cuppa-slidemenu /deep/ .cuppa-menu ul > li > a{
  color:black;
}
