/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
p{
  margin-bottom: 0;
}
.fa {
  margin-right: 10px;
  cursor: pointer;
}
.my-pagination /deep/ ul{
  margin-bottom: 0;
  li{
    &.current,a:hover{
      background: rgba(0,0,0,.5);
    }
  }
}
