/* You can add global styles to this file, and also import other style files */
@import "shared/StyleTheme/form";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
p{
  margin-bottom: 0;
}
.fa {
  cursor: pointer;
  &.fa-left{
    margin-left: 10px;
  }
  &.fa-right{
    margin-right: 10px;
  }
}
.my-pagination /deep/ ul{
  margin-bottom: 0;
  li{
    &.current,a:hover{
      background: rgba(0,0,0,.5);
    }
  }
}
.form-control,.form-control:focus{
  background-color: rgba(0,0,0,.1);
  color: white;
}
.btn:disabled{
  cursor: not-allowed;
}
.bg-black{
  background-color: rgba(0,0,0,.7)!important;
}
.card{
  padding:15px;
  background-color: rgba(255,255,255,.1);
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
  position: relative;
}
.none{
  display: none!important;
}
