/* You can add global styles to this file, and also import other style files */
@import "shared/StyleTheme/form";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
p{
  margin-bottom: 0;
}
.display-block {
  display: block;
  margin: 5px auto;
}
.must,
.explain,
.caption {
  display: inline-block;
  width: auto;
  height: 20px;
  padding: 0 3px;
  margin: 0 5px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.must {
  background: #F84471;
}
.explain {
  background: #E7BA08;
}
.caption {
  background: #209e91;
}
.fa {
  cursor: pointer;
  &.fa-left{
    margin-left: 10px;
  }
  &.fa-right{
    margin-right: 10px;
  }
}
.my-pagination /deep/ ul{
  margin-bottom: 0;
  li{
    &.current,a:hover{
      background: rgba(0,0,0,.5);
    }
  }
}
.form-control,.form-control:focus{
  background-color: rgba(0,0,0,.1);
  color: white;
}
.btn:disabled{
  cursor: not-allowed;
}
.bg-black{
  background-color: rgba(0,0,0,.7)!important;
}
.card{
  padding:15px;
  background-color: rgba(255,255,255,.1);
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
  position: relative;
  margin-bottom: 15px;
}
.show{
  display: block!important;
  opacity: 1!important;
}
.none{
  display: none!important;
}
.right{
  float: right!important;
}
.left{
  float: left!important;
}

.text-red{
  color: #dc3545!important;
}
.text-green{
  color: #28a745!important;
}
.text-white{
  color:white!important;
}

.modal-backdrop{
  background-color: rgba(0,0,0,.6);
}
.modal-dialog{
  top:100px;
}
$bgUrl:'./assets/img/sky-bg.jpg';
.pop-content {
  height: auto;
  background: url($bgUrl) no-repeat;
  background-size: 100% 100%;
  font-size: 12px;
  color:#fff;
  margin: -5px;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  .modal-body{
    width: 100%;
  }
  .modal-header {
    width: 100%;
    height: 40px;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }
  .modal-title {
    font-size: 16px;
    display: block;
    width: 100%;
    height: auto;
  }
  .modal-footer {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(255, 255, 255, .4);
  }
}
//销量日历容器
.salesCalendarContainer{
  position: relative;
}
